<!DOCTYPE html>
<html>
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="all" type="text/css">
</head>
<body>

<h1>CALCULATION PROJECT</h1>

<p><h1>The image below is a link. Try to click on it</h1></p>
<div>
<a href="http://localhost:9909/recArea"><img src="../static/images/areaofrec.png"
 th:src="@{images/areaofrec.png}" style="width:350px;height:350px;"></a>

<a href="http://localhost:9909/recPerimeter"><img src="../static/images/periofrec.png" 
 th:src="@{images/periofrec.png}" style="width:350px;height:350px;"></a>

<a href="http://localhost:9909/circleArea"><img src="../static/images/areaofcircle.png" 
 th:src="@{images/areaofcircle.png}" style="width:350px;height:350px;"></a>

<a href="http://localhost:9909/circlePerimeter"><img src="../static/images/periofcircle.png" 
 th:src="@{images/periofcircle.png}" style="width:350px;height:350px;"></a>
</div>
</body>
</html>

